<a href="https://colab.research.google.com/github/Chiiruu69/HelloThere/blob/main/21stJuly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
studentlist={'danish', 'jaison', 'sangeetha','uma','amrutha','lohita','prasaad','ashwathi'}
placedstudents=["uma", "danish", "amrutha"]

notplacedstudents=set(studentlist)-set(placedstudents)
print("students yet to get job \n" ,notplacedstudents)

students yet to get job
 {'ashwathi', 'sangeetha', 'lohita', 'prasaad', 'jaison'}

In [1]:
numbers={1,2,3,4,5,6,7,8,9,10}
odd={1,3,5,7,9}
even={2,4,6,8,10}

print(odd.isdisjoint(even))
print(numbers.issuperset(odd))
print(odd.issuperset(numbers))
print(odd.issubset(numbers))

True
True
False
True

In [7]:
set1={1,2,3,4}
print(set1)
print(type(set1))

{1, 2, 3, 4}
<class 'set'>

In [10]:
chiru=set("AWESOME")
print(chiru)

{'O', 'W', 'E', 'S', 'A', 'M'}

In [18]:
set2={1,2,3,4}
set3={2,3,5,6}
union=set(set2)|set(set3)         #union
print("union is ",(union))

union is  {1, 2, 3, 4, 5, 6}

In [20]:
lassi={"books","taylor swift", "harry styles", "starwars", 11.11, "marvel"}
chiru={"guitar","harry styles",11.11, "starwars", "marvel","anime"}
intersection=set(lassi)&set(chiru)                                                #intersection
print("intersection is :" ,intersection)

intersection is : {'starwars', 'harry styles', 11.11, 'marvel'}

In [22]:
bruno={23,32,11,90}
vardhan={69,90,23,70,1}
print("the symmetric difference is :" ,set(vardhan)^set(bruno))

the symmetric difference is : {32, 1, 69, 70, 11}